<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="UofM.HCI.tPad.App.Dashboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <UofM.HCI.tPad.App.Dashboard.Properties.Settings>
            <setting name="MulticastGroup" serializeAs="String">
                <value>230.30.30.30</value>
            </setting>
            <setting name="MulticastPort" serializeAs="String">
                <value>5123</value>
            </setting>
            <setting name="MulticastTTL" serializeAs="String">
                <value>2</value>
            </setting>
        </UofM.HCI.tPad.App.Dashboard.Properties.Settings>
    </userSettings>
</configuration>
